.git/
.gitignore
.gitattributes
.env*
*.log
.idea/
.vscode/
node_modules/
vendor/
public/storage/
storage/*.key
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests/
docker/
docker-compose*
README.md
phpunit.xml 